@page
@using BetterFindsProject.Pages
@model BetterFindsProject.Pages.SearchToolModel
@{
    ViewData["Title"] = "Resultados da pesquisa!";
}
<h1 style="color: white;">@ViewData["Title"]</h1>

<!-- Exibe estilo para botões e página -->
<style>
    .form-group {
        margin-bottom: 15px;
        width: 315px;
    }

    .auction {
        border: 2px solid #ffffff;
        padding: 10px;
        margin-bottom: 20px;
    }

    .auction-title {
        font-size: 20px;
        font-weight: bold;
    }

    .auction-details {
        margin-top: 10px;
    }

    .bid-section {
        margin-top: 10px;
    }

    .bid-input {
        padding: 5px;
        margin-right: 10px;
    }

    .bid-button {
        padding: 5px 10px;
        background-color: #008000;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }

    .login-link {
        color: white;
    }

        .login-link:hover {
            color: #006400;
        }


    body {
        position: relative;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        height: 100vh;
        margin: 0;
    }

        body::before {
            content: "";
            background-image: url('@Url.Content("~/vintage.jpg")');
            background-size: cover;
            background-repeat: no-repeat;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        body::after {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: -1;
        }

    .container {
        padding: 20px;
    }

    .hero-title, .hero-subtitle, .text-center {
        text-align: center;
    }

    .transparent-btn {
        background-color: transparent;
        border: 2px solid #ffffff;
        color: #ffffff;
    }

        .transparent-btn:hover {
            background-color: #ffffff;
            color: #000000;
        }
</style>

<!-- Itera sobre os leilões e atribui os seus valores e informações -->
@if (Model.Auctions.Count > 0)
{
    foreach (var auction in Model.Auctions)
    {
        <div class="auction">
            <div class="auction-title">@auction.Name</div>
            <div class="auction-details">
                <div>Licitação Mínima: @auction.MinimumBid€</div>
                <div>Licitação Atual: @auction.Price€</div>
                <div>Descrição: @auction.Description</div>
                <div>Tempo restante do leilão: @auction.EndTime</div>
            </div>
            @if (auction.IsAuctionEnded)
            {
                <!-- Exibe mensagem a dizer que leilão terminou se este está terminado -->
                <form>
                    <input type="text" class="form-group" placeholder="Leilão Terminado" disabled />
                </form>
            }
            <div class="bid-section">
            </div>
        </div>
    }
}
else
{
    <p>Nenhum leilão encontrado.</p>
}
